.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.footer__top {
    
    flex-grow: 1;
    padding: 8rem 0;
}

.footer__bot {
    height: 70px;
    background: #2947A9;
    color: white;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    gap: 2rem;
}



.footer__item-list li{
    margin: 0;
    padding: 0;    
}

.footer__item-list li{
    margin-bottom: 3.2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #292E3D;

}

.footer__subscr{
    width: 100%;
    max-width: 43rem;
}

.footer__first,
.news-letter__title,
.socials__title{
    text-transform: uppercase;
    margin-right: 1.3rem;
    display: inline-block;
    line-height: 2.3rem;
    font-size: 2rem;
    font-weight: 500;
    max-width: 9rem;
    width: 100%;
    color: #2947A9;

}

.news-letter__title{
    margin-bottom: 2rem;
}

.news-letter__input{
    min-width: 15rem;
    width: 100%;
    border: 1px solid #E0E3EB;
    padding: 1rem 0.8rem;
    border-radius: 0.4rem;
    height: 4.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-right: 0.8rem;
    

}

.news-letter__input::placeholder{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #A3AAC2;
}

.news-letter__w{
    display: flex;
    margin-bottom: 4.2rem;
    

    & button{
        display: inline-flex;
        padding: 1rem 2.35rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.11px;
        text-align: center;
        color: white;
        background: #F9995D;
        border-radius: 4px;

    }
}

.socials__item{
    width: 4rem;
    height: 4rem;
}

.socials__title{
    margin-bottom: 2rem;
}

.socials__w a{
    margin-right: 2rem;
}
.socials__w a:last-child{
    margin-right: 0;
}

.footer__rights{
    align-self: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-align: left;
}


